*~
*.dll
/lib_mock/*
build-*/*
*/build-*/*
cal/*
*.pro.user*
*.a
lib/*.so
pcb/*.png
pcb/*/*.png
*.tar.gz
vhdl/spiflash.*
/Makefile
/xavna_windows/*
/xavna-src/*
/*.zip
/*.tar.gz
libtool
*.AppImage

*/.deps/*
*/.libs/*
*.lo
*.la
Makefile.Debug
Makefile.Release
.qmake.*
qrc_resources.cpp
*.svf.gz
vna_qt/release
*_plugin_import.cpp
moc_*.cpp
moc_*.h
ui_*.h
*.exe
*.o
Makefile
Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

# http://www.gnu.org/software/m4/

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache



pcb/*_out/*
*.pcb.bak*
pcb/*.raw
pcb/*.fft
pcb/*.net
pcb/*.png
pcb/.*
pcb/*.bom.csv
pcb/#*#
*.log


# http://www.gnu.org/software/automake
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
# http://www.gnu.org/software/autoconf
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.status
/config.log
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
# https://www.gnu.org/software/libtool/
/ltmain.sh
# http://www.gnu.org/software/texinfo
/texinfo.tex
